#game {
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  margin: 1em;
  display: flex;
}
#canvas {
  border-top: 1px solid rgba(150,150,150,0.6);
  border-bottom: 1px solid rgba(150,150,150,0.6);
}
#canvas-div { margin: auto; }

.side-bar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(150,150,150);
}
.show { background-color: green; }
.canvas-div { height: 100%; }