.a {
  background-color: green;
}

.omer-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.omer-form>div {
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 1px white;
  background-color: rgb(150, 150, 150);
}

.cp {
  cursor: pointer;
}

#oyun {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

#oyun-div-ust {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#oyun-div-ust>div {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}

#canvas {
  background-color: green;
}

select {
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}